@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../../../client/src/assets/fonts/dm-sans-normal-400-700-latin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600 800;
  font-display: swap;
  src: url("../../../client/src/assets/fonts/syne-normal-600-800-latin.woff2")
    format("woff2");
}
